.container{
    width: 50vw;
    height: 100vh;
}
.containerElements{
    width: 50vw;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.elements > img{
    width: 6vw;
}
.elements{
    height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.elements > p{
    text-decoration: line-through;
    text-align: center;
    font-size: 13px;
    color: rgb(158, 6, 6);
}
.elements > h5{
    color: rgb(2, 95, 2);
}
.oferta{
    border-bottom: 2px solid black;
    padding: 10px;
    margin-bottom: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
.oferta > h1{
    color: #0B55C6;
}


@media ( min-width: 1201px){
    
}
@media ( min-width: 769px) and (max-width: 1200px){
    
}
@media ( min-width: 500px) and (max-width: 768px) {
    
}
@media ( min-width: 100px) and (max-width: 499px){
    .container{
        width: 100vw;
        height: 45vh;
    }
    .containerElements{
        width: 90vw;
        display: flex;
        flex-direction: row;
        margin: auto;
    }
    .elements > img{
        width: 16vw;
    }
    .elements{
        height: 18vh;
        flex-direction: column;
        justify-content: space-around;
        margin-bottom: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .elements > p{
        text-decoration: line-through;
        text-align: center;
        font-size: 9px;
        color: rgb(158, 6, 6);
    }
    .elements > h5{
        color: rgb(2, 95, 2);
        font-size: 10px;
    }
    .elements > h3{
        font-size: 11px;
    }
    .oferta{
        border-bottom: 2px solid black;
        padding: 8px;
        margin-bottom: 15px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .oferta > h1{
       font-size: 2vmax;
        
    }
    
}