.containerMain{
    width: 60vw;
    margin: auto; 
    margin-top: 80px;
}
@media ( min-width: 560px) and (max-width: 1024px){
    .containerMain{
        width: 80vw;
        margin-top: 50px;

    }
}
@media (min-width: 399px) and (max-width: 559px) {
    .containerMain{
        width: 70vw;
        margin-top: 20px;
    }
}
@media (max-width: 398px) {
    .containerMain{
        width: 80vw;
        margin-top: 5px;
    }
}