.container{
    background-color: #0B55C6;
    height: 320px;
    display: flex;
    margin-top: 50px;
}
@media ( min-width: 768px) and (max-width: 1023px){
    .container{
        height: 260px;
    }
}
@media (max-width: 767px) {
    .container{
        flex-direction: column;
        height: 310px;
    }
}

