.container{
    width: 100vw;
    display: flex;
    padding-left: 2%;
    padding-top: 2%;
    justify-content: space-around;
}
.coroas{
    width: 6vw;
}
.elements{
    height: 25vh;
    justify-content: space-around;
}